* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Lucida", "sans-serif";
    padding-top: 3rem;
}
header {    
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 0 1rem;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.collapsible {
    text-align:center;
}
.collapsible h2 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.3rem;

}
.collapsible .collapse {
    display:inline-block;
    font-size: 1.5rem;
    width: 2.5rem;
    line-height: 2rem;
    background-color: #CCCCCC;
    padding: 0 0.5rem;
    text-decoration: none;
    margin-left: 2rem;
}
.collapsed {
    display:none;    
}
h1 {
    font-size: 1.3rem;
    float:right;
}

#menu {
    margin-left: 0;
    list-style-type: none;
    padding: 0;
    float:left;
}
#menu > li {
    margin-left: 0;
    display:inline-block;
    margin-right: 1rem;
    position:relative;
    cursor: pointer;
}
#menu > li > ul {
    background-color:white;
    display: none;
    padding: 1rem;
    list-style-type: none;
    width: 20rem;
}
#menu > li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
#menu > li > ul > li{
    margin-left: 0;
}
.size-category .dimensions {
    float:right;
}

.size-category .size {
    padding: 0.5rem;
}
.size-category .size:hover {
    background-color: grey;
    cursor: pointer;
}
.size-category .size.active {
    background-color: grey;
}
section {
    margin-top: 1rem;
    text-align:center;
}
.tools {
    margin-bottom: 1rem;
}
.tools > * {
    display:inline-block;
    margin-right: 2rem;
}
.tools label {
    font-size: 0.9rem;
}

.label {
    font-weight: bold;
}

.size-name {

}

footer {
    text-align:center;
    margin-top: 1rem;
    font-size: 0.9rem;
}
footer > * {
    display: inline-block;
    margin-right: 2rem;
    resize: both;

}

