* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


button::-moz-focus-inner {
  border: 0;
}



html, body {
    margin:0;
}
body {
    font-family: "Lucida", sans-serif;
}
header { 
    background-color: white;
    position: fixed;
    padding-top: 3rem;
    width: 8rem;
    top: 0;
    left:0;
    bottom:0;
    border-right: 1px solid rgba(125,125,125,0.3);
    height: 100%;
    
}

.header h1 {
    font-size: 1.3rem;
    margin: 0;
    float: left;
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-image: url('/static/img/favicon.ico');
    background-position: 0 center;
}
h1 a {
    text-decoration: none;
}

.modal {
    display:none;
}
.modal.active {
    display:block
}
.modal-bg {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index:999;
}
.modal h1 {
    display: inline-block;
    margin: 0;
}
.modal .window {
    position: fixed;
    padding: 1rem;
    background-color: white;
    width: 95%;
    max-width: 50rem;
    top: 2rem;
    left: 50%;
    margin-left: -25rem;
    z-index:1000;
    bottom: 2rem;
    height: 90%;
    overflow-y: auto;
}
.window * {
    max-width: 100%;
}
.modal .modal-close {
    float:right;
    cursor: pointer;
}
#menu {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#menu a {
    text-decoration: none;
    color:black;
}
#menu .label {
    width:100%;
    display:block;
}
#menu > li:not(.separator) {
    font-size: 1rem;
    margin-left: 0;
    position:relative;
    cursor: pointer;
    padding: 0.5rem;
}
#menu .separator {
    border-bottom: 1px solid rgba(125,125,125,0.3);
    width: 100%;
    min-height:1px;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

#menu > li > ul {
    background-color:white;
    display: none;
    padding-left:0;
    list-style-type: none;
    width: 20rem;
    font-size: 0.9rem;
    border: 1px solid rgba(125,125,125,0.3);
}
#menu > li:not(.separator):hover {
    background-color: rgba(125,125,125,0.3);
    
}
#menu > li:not(.separator):hover > ul, #menu > li:not(.separator):focus > ul {
    display: block;
    position: absolute;
    top: 0;
    left:100%;
}
#menu > li > ul > li{
    margin-left: 0;
    padding:0.5rem;
}

#frequent .dimensions {
    float: none;
}

#more {
    margin-top: 1rem;
}

.shortcuts {
    border-collapse:collapse;
    text-align:left;
}
.shortcuts tr {
    border: 1px solid rgba(125,125,125,0.3);
}
.shortcuts td, .shortcuts th {
    border-left: 1px solid rgba(125,125,125,0.3);
    padding: 0.25rem 0.5rem;
}
#languages {
    margin-left: 0.5rem;
}
.size-category .dimensions {
    float:right;
}

.size-category .size {
    padding: 0.5rem;
}
.size-category .size:hover {
    background-color: rgba(125,125,125,0.3);
    cursor: pointer;
}
.size-category .size.current, .size-category.current {
    background-color: rgba(125,125,125,0.3);
}

#copy-permalink {
    display:none;
}
#copy-permalink.active {
    display:block;
    position: absolute;
    left: 100%;
    top: 0.5rem;
}
.width, .height {
    max-width: 4rem;
}
section {
    
    text-align:center;
    padding-bottom: 1rem;
    margin-left: 9rem;
    margin-top: 4rem;
}
section .header {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    padding: 0.75rem 0.5rem;
    height:3rem;
    background-color: white;
    border-bottom: 1px solid rgba(125,125,125,0.3);
}


#website {
    display: inline-block;
    margin-right: 1rem;
}
.iframe-wrapper .close-fullscreen {
    display: none;
}
.iframe-wrapper.full {
    text-align:center;
    background-color:white;
    padding:1rem;
    position: absolute;
    top: 0;
    left:0;    
}
.iframe-wrapper.full .close-fullscreen {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
}
section > p {
    text-align: center;
}
#presentation {
    display: block;
}

input {
    border: 1px solid rgba(125,125,125,0.3);
    padding: 0.25rem;
}

input:focus {
    border: 1px solid black;
}

form .width, form .height {
    width: 3rem;
}

button, .button {
    font-size: 0.9rem;
    border: 1px solid rgba(125,125,125,0.3);
    text-decoration: none;
    color: black;
    max-width:7rem;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}


#bookmarklet {
    display: block;
    text-align: center;

}

#screenshot-modal .action form {
    display: inline-block;
    margin-left: 1rem;
}
#screenshots {
}
.screenshot {
    border-top: 1px solid rgba(125,125,125,0.3);
    overflow:hidden;
    padding: 0.5rem 0;
}

.screenshot > a.img {
    display: block;
    padding: 0.5rem;
    text-align: center;
}
.screenshot img {
    box-shadow: 0px 0px 8px 0px rgba(125, 125, 125, 0.5);
    
}
.screenshot > * {
    margin: 1rem 0;
}

.screenshot .label {
    font-weight: bold;
}
.screenshot .label:after {
    content: ": ";
}
.screenshot(:first-child) {
    display: none;
}

.screenshot:not(:first-child) .info {
    float: left;    
}
.screenshot:not(:first-child) a.img {
    float:right;
    max-width: 40%;
    max-height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
}

.clear {
    float: right;
}
.clear, .capture {
    margin: 1rem auto;
}


/* CSS spinner from http://tobiasahlin.com/spinkit/ */

.spinner {
  position: relative;
  top: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  display:inline-block;
}

.spinner > div {
  background-color: rgba(125,125,125,0.3);
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}