
header {
    position: fixed;
    top: 0;
    height: 5rem;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid black;
}

header h1, header form, header #sizes  {
    display:inline-block;
    margin-right: 2rem;
}

#sizes {
    margin-left: 0;
    list-style-type: none;
}
#sizes > li {
    display:inline-block;
    margin-right: 1rem;
    position:relative;
}
#sizes > li > ul {
    background-color:white;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 15rem;
}
#sizes > li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 9999;
}
#sizes > li > ul > li{
    margin-left: 0;
}
section {
    margin-top: 6rem;
}

.label {
    font-weight: bold;
}

.size-name {

}