
header {    
    border-bottom: 1px solid black;
}

.branding, .tools  {
    display:inline-block;
    margin-right: 2rem;
}
h1 {
    font-size: 1.3rem;
}
.slogan {
    font-size: 1rem; 
    margin: 0;
    display:inline-block;
}
#sizes {
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}
#sizes > li {
    margin-left: 0;
    display:inline-block;
    margin-right: 1rem;
    position:relative;
}
#sizes > li > ul {
    background-color:white;
    display: none;
    padding: 1rem;
    list-style-type: none;
    width: 15rem;
}
#sizes > li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
}
#sizes > li > ul > li{
    margin-left: 0;
    margin-bottom: 0.5rem
}
section {
    margin-top: 1rem;
}

.label {
    font-weight: bold;
}

.size-name {

}

footer > * {
    display: inline-block;
    margin-right: 2rem;
}