$def with (iframe_url, dimensions, sizes, title, slogan )
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>$title | $slogan</title>
        <link href="static/css/app.css" media="screen" rel="stylesheet" type="text/css" />
           
        <script type="text/javascript" 
        src="static/js/jquery.min.js" ></script>
    </head>
    <body>
        <header>
            <div class="branding">
                <h1>$title</h1>
                <p class="slogan">$slogan</p>
            </div>
            <div class="tools">
                <form id="website" method="post" action="">
                    <input type="url" placeholder="Enter a valid URL here" name="url" />
                    <input type="submit" value="OK" />
                </form>
                <ul id="sizes">
                    $for category in sizes:
                        <li id="$category[0]">
                            <span class="label">$category[0]</span>
                            <ul>
                                $for size in category[1]:
                                    <li data-size="$size[2] $size[3]">
                                        <span class="size-name">$size[0] </span>/<span class="size"> $size[2] x $size[3]</span>
                                    </li>
                                </ul>
                        </li>  

                    </ul>
                <form id="custom-size" action="" method="get">
                    <input type="number" class="width" placeholder="Width"/>
                    <input type="number" class="height" placeholder="Height"/>
                    <input type="submit" value="OK" />
                </form>
            </div>
        </header>
        <section>
            <iframe id="external-content" src="$iframe_url" width="$dimensions[0]" height="$dimensions[1]"></iframe>
        </section>
        <footer>
            <p>Original idea at <a href="http://quirktools.com/screenfly/">Quirktools' Screenfly</a></p>
            <p>Hand-crafted using <a href="http://webpy.org">web.py</a> and <a href="http://jquery.com/">jQuery</a><p>
            <p><a href="http://code.eliotberriot.com/eliotberriot/screen-sizer">Grab the source code</a> and run your own</p>
        </footer>
        <script type="text/javascript" 
        src="static/js/app.js" ></script>

    </body>
</html>
